**/*.log
**/~$*
.cache/
.dist/
.firebase/
.idea/
dist/
docs/_book/
docs/book.css
functions/.runtimeconfig.json
functions/lib/
functions/node_modules/
functions/src/*.js.map
functions/src/serviceAccountKey.json
node_modules/
screenshots/
src/**/*.js.map
tests/**/*.js.map
tests/**/*.tmp
