.idea/
dist/
docs/
node_modules/
patches/
public/
scripts/
yarn.lock
*.css
.env
.env.development
.env.production
.env.staging
.eslintrc.js
.gitignore
.prettierignore
.prettierrc
json-server.js
package.json
postcss.config.js
README.md
tsconfig.json
vue.config.js
yarn.lock
