rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // 一旦全てのアクセスを拒否
    match /{allPaths=**} {
      allow read, write: if false;
    }

    // ユーザーファイルのアクセス制御
    match /{allPaths=**} {
      // アップロード: ログインユーザーに対象ファイルの書き込み権限が設定されている場合、許可
      allow create: if request.auth.token.writableNodeId == request.resource.name;
      // 読み込み: ログインユーザーに対象ファイルの読み込み権限が設定されている場合、許可
      allow read: if request.auth.token.readableNodeId == resource.name;
      // 読み込み: ログインユーザーに対象ファイルの書き込み権限が設定されている場合、許可
      allow write: if request.auth.token.writableNodeId == resource.name;
    }
  }
}
