rules_version = "2";

service firebase.storage {
  match /b/{bucket}/o {
    // 一旦全てのアクセスを拒否
    match /{allPaths=**} {
      allow read, write: if false;
    }
    // 自身のユーザーディレクトリへのアクセスを許可
    match /users/{uid}/{allPaths=**} {
      allow read: if resource.metadata.isPublic == 'true';
      allow read: if request.auth.uid == uid ||
        request.auth.uid in resource.metadata.readUIds.split(',');
      allow write: if request.auth.uid == uid ||
        request.auth.uid in resource.metadata.writeUIds.split(',');
    }
    // アプリケーション管理者によるユーザーディレクトリ直下へのアクセスは許可
    match /users/{node} {
      allow read, write: if request.auth.token.isAppAdmin;
    }
    // アプリケーション管理者によるユーザーディレクトリ以外へのアクセスを許可①
    // ※バケット直下にあるディレクトリの配下ノードが対象
    match /{dir}/{descendants=**} {
      allow read, write: if request.auth.token.isAppAdmin && dir != 'users';
    }
    // アプリケーション管理者によるユーザーディレクトリ以外へのアクセスを許可②
    // ※バケット直下のノードが対象
    match /{node} {
      allow read, write: if request.auth.token.isAppAdmin;
    }
  }
}
