@import './quasar.variables.styl'
@import './placeholder/common.styl'
@import './placeholder/flex-layout.styl'

$text-primary-color = $grey-9
$text-secondary-color = $grey-6
$text-disabled-color = $grey-4
$text-accent-color = $pink-12
$text-error-color = $red-14

$text-
  for $heading, $value in $headings
    &{$heading}
      font-size: $value.size
      font-weight: $value.weight
      line-height: $value.line-height
      letter-spacing: $value.letter-spacing
