@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons');
@require './_color.styl'
@require './_flex-layout.styl'
@require './_shadow.styl'
@require './_spacing.styl'
@require './_typography.styl'

/*-------------------------------------------------
  Variables
-------------------------------------------------*/

:root {
  /**
   * Application theme
   */

  --app-primary-text-color: var(--app-grey-900);
  --app-secondary-text-color: var(--app-grey-600);
  --app-disabled-text-color: var(--app-grey-400);
  --app-accent-text-color: var(--app-pink-a200);
  --app-link-color: var(--app-blue-800);
  --app-link-visited-color: var(--app-indigo-300);
  --app-default-border-color: var(--app-grey-300);

  /**
   * Grid
   */

  --app-grid-breakpoints-xs: 0;
  --app-grid-breakpoints-sm: 600px;
  --app-grid-breakpoints-md: 960px;
  --app-grid-breakpoints-lg: calc(1280px - 16px); /* Desktop gets a 16dp reduction */
  --app-grid-breakpoints-xl: calc(1920px - 16px); /* https://material.io/guidelines/layout/responsive-ui.html#responsive-ui-breakpoints */

  /**
   * Components
   */

  /* paper-drawer-panel */
  --drawer-menu-color: #ffffff;
  --drawer-border-color: 1px solid var(--appdefault-border-color);
  --drawer-toolbar-border-color: 1px solid var(--app-default-border-color);

  /* paper-menu */
  --paper-menu-background-color: #ffffff;
  --menu-link-color: var(--app-primary-text-color);

  /* greet-message */
  --greet-message-color: var(--app-red-500);
}

/*-------------------------------------------------
  Default style
-------------------------------------------------*/

body {
  margin: 0;
  font-family: 'Roboto', 'Noto', sans-serif;
  background-color: #ffffff;
  color: var(--app-primary-text-color);
}
